.amc_page {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: normal;
}

.amc_column {
  padding: 2px 12px !important;
}

.amc_text {
  box-sizing: border-box;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @media screen and (min-width 680px) {
    width: 100%;
  }
}

.amc_audio {
  background: rgb(241,243,244);
}

_::-webkit-full-page-media, _:future, :root .amc_audio {
  color: #ffffff;
  background: rgb(57,57,57);
}

.amc_router {
  color: #45526b;
  text-decoration: underline;
}
