.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.amc_page {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: normal;
}

.amc_column {
  padding: 2px 12px !important;
}

.amc_text {
  box-sizing: border-box;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.amc_td_left {
  width: 14%;
}
.amc_td_right {
  width: 84%;
}

.amc_td_image {
  width: 50%;
  height: 50%;
}

.amc_td_text_medium {
  //box-sizing: border-box;
  //width: 80%;
  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;
  font-size: 16px;
}

.amc_td_text_small {
  font-size: 14px;
  line-height: 22px;
}

.amc_text_by2 {
  overflow:hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}

.amc_text_by1 {
  overflow:hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
}

.amc_audio {
  background: rgb(241,243,244);
}

_::-webkit-full-page-media, _:future, :root .amc_audio {
  color: #ffffff;
  background: rgb(57,57,57);
}

.amc_router {
  color: #45526b;
  text-decoration: underline;
}

.amc_book_mobile {
  display: none !important;
}

.amc_book_desktop {
  display: block;
}

@media screen and (max-width: 1023px) {
  .amc_book_mobile {
    display: block !important;
  }
  .amc_book_desktop {
    display: none !important;
  }
  .amc_td_image {
    //width: 60px;
  }
  .amc_td_text_medium {
    font-size: 14px;
  }
  .amc_td_text_small {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 480px) {
  .amc_td_left {
    width: 30%;
  }
  .amc_td_right {
    width: 70%;
  }
}
